.card {
  box-shadow: 0px 0px 5px green;
}

.imagen-codigo {
  float: left;
  margin-right: 10px;
  max-width: 40%;
  height: auto;

  margin-bottom: 10px;
  border: 3px solid green;
  border-radius: 20px;
  box-shadow: 0px 0px 5px green;
  padding: 10px;
}

.proyecto {
  margin-top: 20px;
  margin-left: 3px;
  border: 3px solid green;
  border-radius: 20px;
  box-shadow: 0px 0px 5px green;
  padding: 10px;
}

.proyecto:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}

@keyframes typing {
  0% {
    content: "D";
  }
  10% {
    content: "De";
  }
  20% {
    content: "Den";
  }
  30% {
    content: "Deni";
  }
  40% {
    content: "Denis";
  }
  50% {
    content: "Denis ";
  }
  60% {
    content: "Denis P";
  }
  70% {
    content: "Denis Pa";
  }
  80% {
    content: "Denis Pab";
  }
  85% {
    content: "Denis Pabl";
  }
  90% {
    content: "Denis Pablo";
  }
  100% {
    content: "|";
  } /* Borra el texto y vuelve a empezar */
}

.animated-text::after {
  content: "";
  display: inline-block;
  animation: typing 4s steps(12) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white; /* Simula el cursor */
}
