.navbar-nav .nav-link {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
        transform: scale(1.1);
        color: #00ff00 !important; /* Verde brillante */
}

.navbar-brand {
    color: white;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar-brand:hover {
        transform: scale(1.3);
        color: #00ff00 !important; /* Verde brillante */
}

.custom-navbar {
    background: linear-gradient(135deg, #3a0ca3, #7209b7);
    box-shadow: 0px 4px 10px rgba(114, 9, 183, 0.5);
    margin-left: 3px;
    margin-right: 3px;
}

.btn-custom {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding:5px;
    background-color: rgba(0, 255, 0, 0.2); /* Fondo semitransparente */
    text-align:center;
}

.navbar-toggler {
    background-color: rgba(0, 255, 0, 0.2); /* Fondo semitransparente */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde blanco tenue */
    transition: background-color 0.3s ease-in-out;
    margin-bottom:2px;
}

.navbar-toggler:hover {
        background-color: rgba(255, 255, 255, 0.4); /* Fondo más visible al pasar el mouse */
}

