.carousel-item img {
  object-fit: contain;
}

.galeria {
  overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */

  border-radius: 12px; /* Bordes redondeados */
  border: 0px solid darkblue;
  background-color: darkblue;
  padding: 10px; /* Espaciado interno */
}

.card {
  box-shadow: 0px 0px 5px 1px red;
}

.badge {
  font-size: 1em;
  padding: 5 px;
  margin: 5px;
  border-radius: 5px;
  color: black;
}
