@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1 class="text-center">Categorias</h1>
<hr>

<div class="d-flex">
    <a class="bi bi-plus-circle-fill ms-auto fs-2" asp-action="Crear" asp-controller="Categoria"></a>
</div>

<div class="container tabla mt-3">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria categoria in Model)
            {
                <tr>
                    <td class="text-center">@categoria.CategoriaID</td>
                    <td class="text-center">@categoria.Nombre</td>
                    <td class="text-center"><i class="bi bi-check-circle-fill"></i></td>
                    <td class="text-center">
                        <a asp-action="ConfirmarEliminar" asp-controller="Categoria" asp-route-CategoriaID="@categoria.CategoriaID" class="btn btn-danger">Eliminar</a>
                        <a asp-action="Editar" asp-controller="Categoria" asp-route-CategoriaID="@categoria.CategoriaID" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>