@model Categoria
@{
    ViewData["Title"] = "Confirmar Eliminar";
}


<h1>Confirmar Eliminar</h1>
<p>¿Estas seguro de querer @ViewBag.Accion la categoria <strong>@Model.Nombre</strong></p>

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="CategoriaID" />
    <input type="hidden" asp-for="Nombre" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>